@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    background: gray;
    border-radius: 2px;


}


/* nav */

.container{
    width: 1440px;
    height: 715px; 
    margin: 0 auto;  
    /* background: linear-gradient(180.00deg, rgb(9, 9, 9),rgba(12, 12, 12, 0) 100%); */
}



.nav-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 3.5rem;
    
}

.title{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    margin-right: 450px;
}

.nav-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    cursor: pointer;

}

.btn-primary{
    color: rgb(255, 255, 255);
    font-family: Inter; 
    font-size: 16px;
    font-weight: 400;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 6px 20px 6px 20px;
    border: none;
}

.nav-content p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;

}


/* banner */
.banner-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    justify-content: center;
    margin-left: 190px;
    margin-bottom: 75px;
    width: 1044px;
    height: 452px;
    margin-bottom: 90px;
}




.banner-content h5{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 25px;
    margin-top: 100px;
}

.banner-content p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn-secondary{
    color: rgb(255, 255, 255);
    font-family: Inter; 
    font-size: 16px;
    font-weight: 400;
    border-radius: 46px;

    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    padding: 6px 20px 6px 20px;
    border-radius: 46px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

.img{
    width: 100%;
    margin-left: 70px;
    margin-top: 20px;
}


/* habit section */
.habits-container{
    width: 1044px;
    height: 452px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
}

.habits-content h6{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 800;
margin-bottom: 14px;


}

.habits-content p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
margin-bottom: 55px;
}

.habit-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
}

.habit-img img{
    border-radius: 50%;
    /* margin-left: 25px; */
}

.habit-img h6{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
margin-top: 1rem;
}

.habit-img p{
    /* color: rgba(255, 255, 255, 0.5); */
    color: rgba(16, 13, 13, 0.5);
    
font-family: Inter;
font-size: 14px;
font-weight: 400;
margin-top: 12px;
}


/* Run an Extra Mile Easily */

.extra-container{
    width: 1060px;
height: 371px;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(2, 1fr);
border-radius: 18px;

background: rgb(34, 34, 34);
margin-bottom: 100px;

}

.extra-content{
    margin-left: 55px;
}

.extra-content h6{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;


}

.extra-content p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
margin-top: 15px;
margin-bottom: 2.5rem;
line-height: 24px;
letter-spacing: 0.3px;

   
}

.extra-img img{
    width: 80%;
    border-radius: 8px;
    margin-top: 40px;
    margin-left: 80px;
}

